<div class="pipeline-overview">
    <div class="pipeline-content clearfix row" style="margin-left: 0px;">
        <!-- start commitInfo -->
        <div class="pipeline-global-info col-md-3" style="padding-left: 0px;">
            <div class="row" style="font-size: 13px !important;">
                    <span ng-class="pipelineStatusClass">
                        <span ng-class="expandClass" style="top: 43px;">
                            <i ng-class="{'fa fa-refresh fa-spin': currentBuild.pipelineStatus === 'INIT'}"></i>
                        </span>
                    </span>
                <div class="commit-info col-md-12 padding-left-right-0"
                     ng-click="stageTabToggle(-1, 'pipeline-commit-info-tpl', $event)">
                    <div class="row">
                        <div class="build-number-and-revision col-md-4">
                            <div class="build-number-wrap" ng-class="{success: currentBuild.compileBuildBean.buildStatus === 'SUCCESS',
                                         fail: currentBuild.compileBuildBean.buildStatus === 'FAIL',
                                         running: currentBuild.compileBuildBean.buildStatus === 'BUILDING'}">
                                <span class="build-number">#{{::(currentBuild.buildNumber || '')}}</span>
                            </div>
                            <div class="revision font-normal-color">
                                <i class="fa fa-paperclip" aria-hidden="true" ng-click="alert(1)"></i>
                                <span>
                                    <span>{{::currentBuild.commitId | limitTo:11}}</span>
                                </span>
                            </div>
                        </div>

                        <div class="author-and-start-time col-md-6">
                            <div class="row">
                                <div class="trigger-user">
                                    <span ng-class="{'commit-user-icon': currentBuild.triggerMode === 'AUTO',
                                    'manual-build-icon': currentBuild.triggerMode==='MANUAL'}"></span>
                                    &nbsp;{{::currentBuild.gitHubCommit.committer}}
                                </div>
                                <div class="commit-start-time">
                                    <span class="start-time"></span>
                                    &nbsp;{{currentBuild.startTime | date:"yyyy-MM-dd hh:mm:ss"}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pipeline-process-bar bg-success" style="margin-top: 9px;"
                         ng-class="{active:currentJobExpandPointers[-1]}" ng-click="stageTabToggle(-1)">
                        <span class="expand-pointer success-stage-expand"
                              ng-show="currentJobExpandPointers[-1]">
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- end commitInfo -->

        <!-- start job -->
        <div class="pipeline-stages col-md-9">
            <div class="row">
                <!-- job build begin -->
                <!--TODO-->
                <!--$last!=true ? (12/currentBuild.jobBuildBeanList.length | number:0) : (12-(currentBuild.jobBuildBeanList.length|number:0)*($index+1))-->
                <div class="pipeline-stage col-md-{{::12/currentBuild.jobBuildBeanList.length | number:0}} padding-left-right-0"
                     ng-class="stageWidthClass"
                     ng-click="stageTabToggle($index); $event.stopPropagation();"
                     ng-repeat="jobBuild in currentBuild.jobBuildBeanList track by $index">
                    <div class="font-normal-color">
                        <span ng-class="{running:jobBuild.jobStatus==='RUNNING',fail:jobBuild.jobStatus==='FAILED',success:jobBuild.jobStatus==='SUCCESS'}" ng-bind="jobBuild.name">
                        </span>
                    </div>
                    <div class="stage-cost-time font-normal-color">
                        <span class="cost-time"></span>
                        <span>&nbsp;<span
                                ng-bind="jobBuild.durationTime != null ? jobBuild.durationTime : '--'"></span></span>
                    </div>
                    <div class="pipeline-process-bar">
                        <span class="action-span"
                              ng-class="{'manually-trigger-waiting':jobBuild.buildable,
                                  'auto-trigger-waiting': jobBuild.buildable,
                                  'auto-trigger-success': jobBuild.jobStatus === 'SUCCESS',
                                  'auto-trigger-fail': jobBuild.jobStatus === 'FAILED' ,
                                   'auto-trigger-running': jobBuild.jobStatus === 'RUNNING'}"
                              ng-click="!jobBuild.buildable || tool.buildManual(jobBuild); $event.stopPropagation();">
                            <!-- 解决 ng-disabled="!jobBuild.buildable" 不起作用的问题-->
                        </span>
                        <span class="expand-pointer" ng-class="{'waiting-stage-expand': jobBuild.jobStatus === 'INIT',
                                        'success-stage-expand': jobBuild.jobStatus === 'SUCCESS',
                                        'fail-stage-expand': jobBuild.jobStatus === 'FAILED',
                                        'running-stage-expand': jobBuild.jobStatus === 'RUNNING'}"
                              ng-show="currentJobExpandPointers[$index]">
                        </span>
                        <span class="progress-bar-span" ng-class="{'bg-waiting': jobBuild.jobStatus === 'INIT',
                                    'bg-success': jobBuild.jobStatus === 'SUCCESS',
                                    'bg-fail': jobBuild.jobStatus === 'FAILED',
                                    'bg-running running-progress-bar': jobBuild.jobStatus === 'RUNNING',
                                    'active':currentJobExpandPointers[$index]}"
                              ng-style="{width: jobBuild.runPercentage + '%'}">
                            &nbsp;
                        </span>
                    </div>
                </div>
                <!-- end jobBuild -->
            </div>
        </div>
        <!--模板区域-->
        <!--Start 代码提交信息模板-->
        <script type="text/ng-template" id="pipeline-commit-info-tpl">
            <div class="expand-container">
                <span class="expand-contents">
                    <ul class="list-unstyled commit-info-ul">
                        <li ng-show="currentBuild.gitHubCommit.addedFiles !== '[]'">
                            <apan style="color:darkgreen">A：</apan>
                            {{::currentBuild.gitHubCommit.addedFiles}}
                        </li>
                        <li ng-show="currentBuild.gitHubCommit.modifiedFiles !== '[]'">
                            <apan style="color:darkgoldenrod">M：</apan>
                            {{::currentBuild.gitHubCommit.modifiedFiles}}
                        </li>
                        <li ng-show="currentBuild.gitHubCommit.removedFiles !== '[]'">
                            <apan style="color:darkred">D：</apan>
                            {{::currentBuild.gitHubCommit.removedFiles}}
                        </li>
                        <li>
                            <span class="label-message">Commits: </span>
                            <span>{{::currentBuild.gitHubCommit.commits}}</span>
                        </li>
                        <li>
                            <span class="label-message">GitHub Commit: </span>
                            <span>
                                <a ng-href="{{::currentBuild.gitHubCommit.commitUrl}}"
                                   target="_blank">{{::currentBuild.gitHubCommit.commitUrl}}</a>
                            </span>
                        </li>
                    </ul>
                </span>
                <div class="operation">
                    <button type="button" class="btn"
                            ng-click="tool.buildPipeline(currentBuild.pipelineConfId,currentBuild.gitHubCommit.id)">
                        <i class="fa fa-caret-right icon"></i>&nbsp;
                        重新构建流水线
                    </button>
                    <div class="pull-right">
                        <span><label>代码提交人:</label> {{::currentBuild.gitHubCommit.committer}}</span>
                        <span><label>提交时间:</label> {{::currentBuild.gitHubCommit.commitTime}}</span>
                    </div>
                </div>
            </div>
        </script>

        <!--Start Plugin stage模板-->
        <script type="text/ng-template" id="pipeline-plugin-info-tpl">
            <div class="expand-container">
                <div class="expand-contents">
                    <table class="table-list-unstyled">
                        <tr>
                            <div class="col-pl-60" ng-if="jobBuildInfo.jobStatus == 'INIT'">
                                <span class="cost-time"></span> <span class="cost-time-val"> 未运行</span>
                            </div>
                            <td class="col-pl-60">
                                <!-- FIXME 灵活性很差的方式 -->
                                <div ng-if="jobBuildInfo.pluginType == 'COMPILE'">
                                    <a ng-if="jobBuildInfo.pluginBuild.logUrl != null"
                                       ng-href="{{::jobBuildInfo.pluginBuild.logUrl}}" target="_blank">查看日志</a>&nbsp;&nbsp;
                                    <a ng-if="jobBuildInfo.pluginBuild.productWgetCommand != null && jobBuildInfo.jobStatus == 'SUCCESS'"
                                       ng-click="tool.alertInfo(jobBuildInfo.pluginBuild.productWgetCommand)"
                                       target="_blank">查看编译产出下载命令</a>&nbsp;&nbsp;
                                </div>
                                <div ng-if="jobBuildInfo.pluginType == 'JENKINS_JOB'">
                                    <a ng-if="jobBuildInfo.pluginBuild.buildUrl != null && jobBuildInfo.pluginType == 'JENKINS_JOB'"
                                       ng-href="{{::jobBuildInfo.pluginBuild.buildUrl}}" target="_blank" ng-bind="jobBuildInfo.pluginBuild.buildUrl"></a>&nbsp;&nbsp;
                                </div>
                                <div ng-if="jobBuildInfo.pluginType == 'RELEASE'">
                                    <a ng-if="jobBuildInfo.pluginBuild.logUrl != null"
                                       ng-href="{{::jobBuildInfo.pluginBuild.logUrl}}" target="_blank">查看日志</a>&nbsp;&nbsp;
                                    <a ng-if="jobBuildInfo.pluginBuild.releaseProductWgetCommand != null && jobBuildInfo.jobStatus == 'SUCCESS'"
                                       ng-click="tool.alertInfo(jobBuildInfo.pluginBuild.releaseProductWgetCommand)"
                                       target="_blank">查看发布产出下载命令</a>&nbsp;&nbsp;
                                </div>
                            </td>
                            <td class="col-pl-60" style="color:darkred" ng-show="jobBuildInfo.jobStatus == 'FAILED'"
                                ng-bind="jobBuildInfo.message + jobBuildInfo.pluginBuild.messgae">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="operation">
                    <button type="button" class="btn"
                            ng-if="jobBuildInfo.jobStatus == 'FAILED'"
                            ng-click="tool.buildManual(jobBuildInfo)">
                        <i class="fa fa-caret-right icon"></i>&nbsp;
                        重新执行
                    </button>
                    <div class="pull-right">
                        <a href="javascript:void(0)"
                           ng-click="showBuildParam(jobBuildInfo)"
                           ng-show="jobBuildInfo.jobStatus != 'INIT'">点击查看构建参数</a>
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                        <span ng-if="jobBuildInfo.triggerUser != null"><label>触发人:</label> {{::jobBuildInfo.triggerUser}}</span>
                        <span ng-if="jobBuildInfo.triggerTime != null"><label>触发时间:</label> {{::jobBuildInfo.triggerTime | date:"yyyy-MM-dd HH:mm:ss"}}</span>
                        <span ng-if="jobBuildInfo.startTime != null"><label>开始时间:</label> {{::jobBuildInfo.startTime | date:"yyyy-MM-dd HH:mm:ss"}}</span>
                        <span ng-if="jobBuildInfo.endTime != null"><label>结束时间:</label> {{jobBuildInfo.endTime |  date:"yyyy-MM-dd HH:mm:ss" }}</span>
                    </div>
                </div>
            </div>
        </script>
        <!--End Plugin stage模板-->

    </div>
    <div class="expand-area clearfix col-md-1" style="margin-bottom: 25px;"></div>
</div>