<div class="pipeline-overview">
    <div class="pipeline-content clearfix row" style="margin-left: 0px;">
        <!-- start commitInfo -->
        <div class="pipeline-global-info col-md-3" style="padding-left: 0px;">
            <div class="row" style="font-size: 13px !important;">
                    <span ng-class="pipelineStatusClass"
                          ng-click="stageTabToggle(-1, 'pipeline-commit-info-tpl')">
                        <span ng-class="expandClass" style="top: 43px;">
                            <i ng-class="{'fa fa-refresh fa-spin': currentBuild.pipelineStatus === 'INIT'}"></i>
                        </span>
                    </span>
                <div class="commit-info col-md-12 padding-left-right-0"
                     ng-click="stageTabToggle(-1, 'pipeline-commit-info-tpl', $event)">
                    <div class="row">
                        <div class="build-number-and-revision col-md-4">
                            <div class="build-number-wrap" ng-class="{success: currentBuild.compileBuildBean.buildStatus === 'SUCCESS',
                                         fail: currentBuild.compileBuildBean.buildStatus === 'FAIL',
                                         running: currentBuild.compileBuildBean.buildStatus === 'BUILDING'}">
                                <span class="build-number">#{{::(currentBuild.buildNumber || '')}}</span>
                            </div>
                            <div class="revision font-normal-color">
                                <i class="fa fa-paperclip" aria-hidden="true" ng-click="alert(1)"></i>
                                <span>
                                    <span>{{::currentBuild.commitId | limitTo:11}}</span>
                                </span>
                            </div>
                        </div>

                        <div class="author-and-start-time col-md-6">
                            <div class="row">
                                <div class="trigger-user">
                                    <span ng-class="{'commit-user-icon': currentBuild.triggerMode === 'AUTO',
                                    'manual-build-icon': currentBuild.triggerMode==='MANUAL'}"></span>
                                    &nbsp;{{::currentBuild.gitHubCommit.committer}}
                                </div>
                                <div class="commit-start-time">
                                    <span class="start-time"></span>
                                    &nbsp;{{currentBuild.gitHubCommit.commitTime}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pipeline-process-bar bg-success" style="margin-top: 9px;"
                         ng-class="{active:currentStageExpandPointers[-1]}">
                        <span class="expand-pointer success-stage-expand"
                              ng-show="currentStageExpandPointers[-1]">
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- end commitInfo -->
        <div class="pipeline-stages col-md-9">
            <div class="row">
                <!-- job build begin -->
                <!--TODO-->
                <!--$last!=true ? (12/currentBuild.jobBuildBeanList.length | number:0) : (12-(currentBuild.jobBuildBeanList.length|number:0)*($index+1))-->
                <div class="pipeline-stage col-md-{{::12/currentBuild.jobBuildBeanList.length | number:0}} padding-left-right-0"
                     ng-class="stageWidthClass"
                     ng-click="stageTabToggle(-2, 'pipeline-compile-info-tpl'); $event.stopPropagation();"
                     ng-repeat="jobBuild in currentBuild.jobBuildBeanList track by $index">
                    <div class="font-normal-color">
                        <span ng-class="{running:jobBuild.jobStatus==='RUNNING',fail:jobBuild.jobStatus==='FAILED',success:jobBuild.jobStatus==='SUCCESS'}">
                            {{::jobBuild.name}}
                        </span>
                    </div>
                    <div class="stage-cost-time font-normal-color">
                        <span class="cost-time"></span>
                        <span>&nbsp;<span
                                ng-bind="jobBuild.durationTime != null ? jobBuild.durationTime : '--'"></span></span>
                    </div>
                    <div class="pipeline-process-bar">
                        <span class="action-span"
                              ng-class="{'manually-trigger-waiting':jobBuild.jobStatus === 'INIT',
                                  'auto-trigger-waiting': jobBuild.jobStatus === 'INIT',
                                  'auto-trigger-success': jobBuild.jobStatus === 'SUCCESS',
                                  'auto-trigger-fail': jobBuild.jobStatus === 'FAILED' ,
                                   'auto-trigger-running': jobBuild.jobStatus === 'RUNNING'}"
                              ng-click="tool.buildManual(jobBuild.id)">
                        </span>
                        <span class="expand-pointer" ng-class="{'waiting-stage-expand': jobBuild.jobStatus === 'INIT',
                                        'success-stage-expand': jobBuild.jobStatus === 'SUCCESS',
                                        'fail-stage-expand': jobBuild.jobStatus === 'FAILED',
                                        'running-stage-expand': jobBuild.jobStatus === 'RUNNING'}"
                              ng-show="currentStageExpandPointers[-2]">
                        </span>
                        <span class="progress-bar-span" ng-class="{'bg-waiting': jobBuild.jobStatus === 'INIT',
                                    'bg-success': jobBuild.jobStatus === 'SUCCESS',
                                    'bg-fail': jobBuild.jobStatus === 'FAILED',
                                    'bg-running running-progress-bar': jobBuild.jobStatus === 'RUNNING',
                                    'active':currentStageExpandPointers[-2]}"
                              ng-style="{width: jobBuild.runPercentage + '%'}">
                            &nbsp;
                        </span>
                    </div>
                </div>
                <!-- end jobBuild -->


                <!--模板区域-->
                <!--Start 代码提交信息模板-->
                <script type="text/ng-template" id="pipeline-commit-info-tpl">
                    <div class="expand-container">
                <span class="expand-contents">
                    <ul class="list-unstyled commit-info-ul">
                        <li>
                            <span class="label-message">Commits: </span>
                            <span>{{::currentBuild.gitHubCommit.commits}}</span>
                        </li>
                        <li>
                            <span class="label-message">GitHub Commit: </span>
                            <span>
                                <a ng-href="{{::currentBuild.gitHubCommit.commitUrl}}"
                                   target="_blank">{{::currentBuild.gitHubCommit.commitUrl}}</a>
                            </span>
                        </li>
                    </ul>
                </span>
                        <div class="operation">
                            <div class="pull-right">
                                <span><label>代码提交人:</label> {{::currentBuild.gitHubCommit.committer}}</span>
                                <span><label>提交时间:</label> {{::currentBuild.gitHubCommit.commitTime}}</span>
                            </div>
                        </div>
                    </div>
                </script>
                <!--End 代码提交信息模板-->
            </div>
            <div class="expand-area clearfix col-md-1" style="margin-bottom: 25px;"></div>
        </div>
    </div>
</div>