<div class="modal-header">
    <button type="button" class="close" ng-click="cancelWindow()">&times;</button>
    <h4 class="modal-title">请选择需要构建的commit</h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <div class="col-xs-12">
            <select id="trigger-select" class="form-control" ng-model="triggerId"
                    ng-options="commit.id as commit.commits+' '+commit.commitId |limitTo:20 group by commit.branch for commit in commits">
            </select>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="agile large blue button close-button" type="button" ng-click="selectedBuildPipeline(triggerId)">执行</button>
    <button class="agile large blue button close-button" type="button" ng-click="cancelWindow()">关闭</button>
</div>
